<a href="https://colab.research.google.com/github/QuocAn-star/Phantich-DL/blob/main/V%C3%AD%20d%E1%BB%A5%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df_sinhvien = pd.DataFrame({
    'ID' : ['001', '002', '003', '004', '005'],
    'Name' : ['Pham Van Nghia', 'Tong Thuy Linh', 'Le Van Dai', 'Tran Quang Nghia', 'DoanThu Ha'],
    'Age': [25, 26, 25, 23, 22],
    'Province': ['Nam Dinh', 'Thanh Hoa', 'TP Ho Chi Minh', 'Da Nang', 'Can Tho']
})
print(df_sinhvien)

    ID              Name  Age        Province
0  001    Pham Van Nghia   25        Nam Dinh
1  002    Tong Thuy Linh   26       Thanh Hoa
2  003        Le Van Dai   25  TP Ho Chi Minh
3  004  Tran Quang Nghia   23         Da Nang
4  005        DoanThu Ha   22         Can Tho

In [6]:
df_sorce = pd.DataFrame({
    'ID': ['001', '002', '003', '006', '007'],
    'Math': [6.75, 9, 8, 7, 10],
    'Physic': [8, 9, 9,8.5, 9],
    'Chemistry': [7, 9.5, 7.5, 9, 10],
    'Province': ['Nam Dinh', 'Thanh Hoa', 'TP Ho Chi Minh', 'Quang Nam', 'Nghe An']
})
print(df_sorce)

    ID   Math  Physic  Chemistry        Province
0  001   6.75     8.0        7.0        Nam Dinh
1  002   9.00     9.0        9.5       Thanh Hoa
2  003   8.00     9.0        7.5  TP Ho Chi Minh
3  006   7.00     8.5        9.0       Quang Nam
4  007  10.00     9.0       10.0         Nghe An

In [8]:
#inner join
new_data = pd.merge(df_sinhvien, df_sorce,
                 left_on='ID',
                 right_on = 'ID',
                 how = 'inner',
                 suffixes = ['_Sv', '_Score'])
print(new_data)

    ID            Name  Age     Province_Sv  Math  Physic  Chemistry  \
0  001  Pham Van Nghia   25        Nam Dinh  6.75     8.0        7.0
1  002  Tong Thuy Linh   26       Thanh Hoa  9.00     9.0        9.5
2  003      Le Van Dai   25  TP Ho Chi Minh  8.00     9.0        7.5

   Province_Score
0        Nam Dinh
1       Thanh Hoa
2  TP Ho Chi Minh

In [9]:
#left join
new_data1 = pd.merge(df_sinhvien, df_sorce,
                 left_on='ID',
                 right_on = 'ID',
                 how = 'left',
                 suffixes = ['_Sv', '_Score'])
print(new_data1)

    ID              Name  Age     Province_Sv  Math  Physic  Chemistry  \
0  001    Pham Van Nghia   25        Nam Dinh  6.75     8.0        7.0
1  002    Tong Thuy Linh   26       Thanh Hoa  9.00     9.0        9.5
2  003        Le Van Dai   25  TP Ho Chi Minh  8.00     9.0        7.5
3  004  Tran Quang Nghia   23         Da Nang   NaN     NaN        NaN
4  005        DoanThu Ha   22         Can Tho   NaN     NaN        NaN

   Province_Score
0        Nam Dinh
1       Thanh Hoa
2  TP Ho Chi Minh
3             NaN
4             NaN

In [10]:
#right join
new_data2 = pd.merge(df_sinhvien, df_sorce,
                 left_on='ID',
                 right_on = 'ID',
                 how = 'right',
                 suffixes = ['_Sv', '_Score'])
print(new_data2)

    ID            Name   Age     Province_Sv   Math  Physic  Chemistry  \
0  001  Pham Van Nghia  25.0        Nam Dinh   6.75     8.0        7.0
1  002  Tong Thuy Linh  26.0       Thanh Hoa   9.00     9.0        9.5
2  003      Le Van Dai  25.0  TP Ho Chi Minh   8.00     9.0        7.5
3  006             NaN   NaN             NaN   7.00     8.5        9.0
4  007             NaN   NaN             NaN  10.00     9.0       10.0

   Province_Score
0        Nam Dinh
1       Thanh Hoa
2  TP Ho Chi Minh
3       Quang Nam
4         Nghe An

In [12]:
# outer join
new_data3 = pd.merge(df_sinhvien, df_sorce,
                 left_on='ID',
                 right_on = 'ID',
                 how = 'outer',
                 suffixes = ['_Sv', '_Score'])
print(new_data3)

    ID              Name   Age     Province_Sv   Math  Physic  Chemistry  \
0  001    Pham Van Nghia  25.0        Nam Dinh   6.75     8.0        7.0
1  002    Tong Thuy Linh  26.0       Thanh Hoa   9.00     9.0        9.5
2  003        Le Van Dai  25.0  TP Ho Chi Minh   8.00     9.0        7.5
3  004  Tran Quang Nghia  23.0         Da Nang    NaN     NaN        NaN
4  005        DoanThu Ha  22.0         Can Tho    NaN     NaN        NaN
5  006               NaN   NaN             NaN   7.00     8.5        9.0
6  007               NaN   NaN             NaN  10.00     9.0       10.0

   Province_Score
0        Nam Dinh
1       Thanh Hoa
2  TP Ho Chi Minh
3             NaN
4             NaN
5       Quang Nam
6         Nghe An